<div ui-view="footer" class="animation">
    <footer class="page-footer th-green white-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h5 class="white-text">Company Info</h5>
            <p class="grey-text text-lighten-4">We believe our community is the strongest bond we share. Trenderz Hub features products from merchants who are
              local. Our goal is to support local by encouraging a market of like-minded friends helping friends.</p>
          </div>
          <div class="col-lg-3 col-sm-12">
            <h5 class="white-text">Links</h5>
            <ul class="list-unstyled">
              <li class="">
                <a class="white-text ng-binding" routerLink="/about-us"> Company Info</a>
              </li>
              <li class="">
                <a class="white-text ng-binding" routerLink="/contact-us"> Contact Us</a>
              </li>
              <li class="">
                <a class="white-text ng-binding" routerLink="/orders"> Orders Page</a>
              </li>
              <li class="">
                <a class="white-text ng-binding" routerLink="/mall-policy"> Mall Policy</a>
              </li>
              <li class="">
                <a class="white-text ng-binding" routerLink="/privacy-policy"> Privacy Policy</a>
              </li>
              <li class="">
                <a class="white-text ng-binding" routerLink="/login"> Sign Up</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-12">
            <h5 class="white-text">Social</h5>
            <ul>
              <!-- ngRepeat: link in social -->
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="d-flex flex-row">
          <div class="tn-copyright text-left col-sm-6">Developed by <a class="brown-text text-lighten-3" href="http://tech-ninja.ca">Tech Ninja</a>
          </div>
          <div class="th-copyright text-right col-sm-6">Copyright <a class="brown-text text-lighten-3" href="http://trenderzhub.ca">Trenderz Hub®</a>
          </div>
        </div>
      </div>
    </footer>
  </div>