.page-footer {
    margin-top: 20px;
    padding-top: 20px;
}

.footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: white;
    color: rgba(255, 255, 255, 0.8);
    background-color: #205d39;
    background-color: rgba(32, 93, 57, 1);
}