<div class="home-page row">
   <section class="slideshow wrapper">
      <fullwidth-slideshow></fullwidth-slideshow>
   </section>
   <section class="newsletter-offer wrapper container">
      <div class="card">
         <div class="message row center-block">
            <h6 class="heading col-sm-6 col-sm-offset-3 text-center">Sign Up For Our Newsletter</h6>
         </div>
         <div class="sign-up input-group row center-block">
            <input class="col-sm-6 col-sm-offset-3" type="email" name="signup" placeholder="Sign Up With Email">
            <button class="sign-up-btn btn col s2 green lighten3">Ok!</button>
         </div>
      </div>
   </section>
   <section class="featured-parallax">
      <div class="featured-content container">
         
         <h3>Featured Products:</h3>
         <!--FEATURED CONTENT CONTAINER-->
         <featured-products class="featured-products center"></featured-products>

      </div>
      <div class="parallax"><img src="http://materializecss.com/templates/parallax-template/background3.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 410px, 0px);"></div>
   </section>
   <section class="action-box container">
      <div class="browse-stores valign-wrapper col-sm-6 center-block">
         <div class="image col-sm-6"><img class="img-responsive" src="./images/trenderzhub/browse-stores.png" alt=""></div>
         <div class="meassage text-center col-xs-12 col-sm-6">
            
            <h3 class="heading">Browse Stores</h3>
            <div class="body inset-text">
               Browse Stores
               <br>Listed on Trenderz Hub
            </div>
            <div class="footer">
               <button class="btn purple" ng-click="goTo('stores.browse')">Sure!</button>
            </div>
         
         </div>
      </div>
      <div class="open-store valign-wrapper col-sm-6 center-block">
         <div class="image col-sm-6"><img class="img-responsive" src="./images/trenderzhub/open-store.png" alt=""></div>
         <div class="meassage text-center col-xs-12 col-sm-6">
            
            <h3 class="heading">Open A Store</h3>
            <div class="body inset-text">
               Checkout How
               <br />to Open a Store
            </div>
            <div class="footer">
               <button class="block-center btn btn-default" ng-click="goTo('pages.membership')">Alright!</button>
            </div>
         
         </div>
      </div>
   </section>
   <section class="services container">
      <ul class="card list-inline">
         <li class="block col-sm-12 col-md-4">
            <div class="service col-sm-12 center-align">
               <i class="fa fa-lg fa-clock-o view_module"></i>
               <block class="service body left-align">
                  Here is some really long text about how much our company wants your business, and strives to meet all of your needs.
                  <br>
                  <br>We are a new and upcoming brand from Edmonton, and we enjoy being a part of this Community!
               </block>
            </div>
         </li>
         <li class="block col-sm-12 col-md-4">
            <div class="service col-sm-12 center-align">
               <i class="fa fa-lg fa-clock-o shopping_basket"></i>
               <block class="service body left-align">
                  Here is some really long text about how much our company wants your business, and strives to meet all of your needs.
                  <br>
                  <br>We are a new and upcoming brand from Edmonton, and we enjoy being a part of this Community!
               </block>
            </div>
         </li>
         <li class="block col-sm-12 col-md-4">
            <div class="service col-sm-12 center-align">
               <i class="fa fa-lg fa-clock-o receipt"></i>
               <block class="service body left-align">
                  Here is some really long text about how much our company wants your business, and strives to meet all of your needs.
                  <br>
                  <br>We are a new and upcoming brand from Edmonton, and we enjoy being a part of this Community!
               </block>
            </div>
         </li>
      </ul>
   </section>

   <section class="call-to-action container">
      <div class="col-sm-12 center container">
         <h3><i class="mdi-content-send brown-text"></i></h3>
         <h4>Contact Us</h4>
         <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id,
         viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac,
         gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
   </section>
</div>