<div class="home-page">
   <div class="parallax-container main-banner">
      <div class="section no-pad-bot">
         <div class="header container">
            <h1 class="header center teal-text text-lighten-2">Welcome To Trenderz Hub</h1>
            <div class="row center">
               <h5 class="header col s12 light">Local Goods From Local Shops.</h5>
            </div>
            <div class="sign-up-container row center">
               <h6 class="call-to-action">We are accepting requests for beta Store Owners</h6>
               <a id="signup-button" href ng-click="goTo('pages.signup')" class="btn waves-effect waves-light orange lighten3">Sign Up Today</a>
            </div>

         </div>
      </div>
      <div class="parallax"><img src="http://materializecss.com/templates/parallax-template/background1.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 299px, 0px);"></div>
   </div>
   <div class="newsletter-offer">
      <div class="container">
         <!--   Icon Section   -->
         <div class="card row">
            <div class="wrapper col s12">
               <div class="message row">
                  <h6 class="heading col s6 offset-s2">Sign Up For Our Newsletter</h6>
                  <!--<p class="body col s6 offset-s2">Sign up for our monthly newsletter.-->
                  </p>
               </div>
               <div class="sign-up input-group row">
                  <input class="col s6 offset-s2" type="email" name="signup" placeholder="Sign Up With Email">
                  <button class="sign-up-btn btn col s2 green lighten3">Ok!</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="container">
      <div class="section">

         <!--   Icon Section   -->
         <div class="row">
            <div class="col s12 m10 offset-m1 no-pad">
               <img class="browse-stores-image col s6 offset-s3 m6" src="./images/trenderzhub/browse-stores.png" alt="">
               <div class="browse-stores-container col s12 m6 center-align">
                  <h3 class="heading">Browse Stores</h3>
                  <div class="content">
                     Browse Stores
                     <br>Listed on Trenderz Hub
                  </div>
                  <button class="btn purple darken-1" ng-click="goTo('stores.browse')">Sure!</button>
               </div>
            </div>
         </div>

      </div>
   </div>


   <div class="container">
      <div class="section">
         <!--<h3>Featured Products:</h3>-->
         <!--<ul class="feature-container row">-->
            <!--FEATURED CONTENT CONTAINER-->
         <!--   <featured-products></featured-products>-->
         <!--</ul>-->
      </div>
   </div>


   <div class="featured-parallax parallax-container valign-wrapper">
      <div class="section no-pad-bot">
         <div class="featured-content container">
            <h3>Featured Products:</h3>
            <div class="row center">
               <!--FEATURED CONTENT CONTAINER-->
               <featured-products></featured-products>
            </div>
         </div>
      </div>
      <div class="parallax"><img src="http://materializecss.com/templates/parallax-template/background3.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 410px, 0px);"></div>
   </div>


<div class="container">
   <div class="section">

      <div class="row">
         <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Contact Us</h4>
            <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra
               ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices
               erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
         </div>
      </div>

   </div>
</div>
</div>


<!--<div class="hiddendiv common"></div>-->
<!--<div class="drag-target" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>-->
<script type="text/javascript">
   (function($) {
      $(function() {

         // $('.button-collapse').sideNav();
         $('.parallax').parallax();

      }); // end of document ready
   })(jQuery); // end of jQuery name space
</script>