h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}

.shared-list {
    padding: 0;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: none;
    border-radius: 4px;
    border-color: #83c5a0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading h3 {
    text-shadow: 1px 1px 1px black;
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    width: 100%;
    margin-top: 0;
    font-size: 30px;
    color: #fff;
    background-color: #83c5a0;
    border-color: #83c5a0;
    border-bottom-color: rgb(131, 197, 160);
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5% 0;
}

.panel-body, .panel-footer {
    padding: 15px;
}

.item {
    position: relative;
    display: block;
    background-color: #fff;
    border-top: 1px solid #e5efca;
    border-bottom: 1px solid #e5efca;
        border-bottom-width: 1px;
    margin-bottom: 8px;
    border-width: 1px 0;
    border-radius: 0;
}

.item {
    padding: 0 10px;
}

.price {
    font-size: 20px;
}

.per {
    font-size: 12px;
}