<li class="card small col s3  offset-s1 no-pad" ng-repeat="product in products">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://materializecss.com/images/office.jpg">
    </div>
    <div class="card-content">
        <div class="card-title activator grey-text text-darken-4 row">
            <div class="price left-align col s10">Price: ${{ product.price }}</div>
            <div class="icon-container col s1 right-align"><i class="material-icons right">more_vert</i></div>
            <div class="title col s12 center-align">{{ product.name | ellipses:20 }}</div>
        </div>
    </div>
    <div class="card-footer center-align" ng-click="goTo('products.detail', product)"><a href="#">View Item</a></div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ product.name }}<i class="material-icons right">close</i></span>
        <p>{{ product.description | decodeText | ellipses:100}}</p>
        <a href="#">This is a link</a>
    </div>
</li>