input {
    margin-bottom: 10px
}

.vertical-divider {
    padding-left: 8%;
}

.become-a-member .heading, .become-a-member .membership-btn {
    display: inline-block
}

.become-a-member .membership-btn {
    float: right;
}