.unique-message {
    margin-top: 100px;
    margin-bottom: 100px;
}

.unique-message .title {
    top: 12px;
    left: 40%;
    color: seashell;
    font-family: cursive;
    font-size: 2.92rem;
}

.meassage .inset-text {
    margin: 10px;
}

.signup {
    margin-top: 100px;
    margin-bottom: 150px;
  }

