<th-navigation></th-navigation>
<div class="container">
  <th-slideshow></th-slideshow>
</div>
<div class="home-page container content pad-top">
  <div class="unique-message text-center">
    <div class="heading">
      <h3 class="title th-alt-green-text">
        Some Really Sweet Quote <br> That Will Make This Site Feel <br> Like Home
      </h3>
    </div>
  </div>
  <div class="action-container white row">
    <div class="browse-stores col-sm-12 col-md-6 row text-center">
      <div class="image col-sm-12 col-md-6">
        <img alt="" class="img-fluid" src="/assets/images/trenderzhub/browse-stores.png" />
      </div>
      <div class="meassage col-sm-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="heading">Browse Stores</h3>
        <div class="inset-text">
          Browse Stores
          <br /> Listed on Trenderz Hub
        </div>
        <div class="footer">
          <button class="btn purple" routerLink="/browse-stores">Sure!</button>
        </div>
      </div>
    </div>
    <div class="open-store col-sm-12 col-md-6 row text-center">
      <div class="image col-sm-12 col-md-6">
        <img alt="" class="img-fluid" src="/assets/images/trenderzhub/open-store.png" />
      </div>
      <div class="meassage col-sm-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="heading">Open A Store</h3>
        <div class="inset-text">
          Checkout How
          <br /> to Open a Store
        </div>
        <div class="footer">
          <button class="block-center btn btn-default" routerLink="/open-a-store">Alright!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="message-section section">
    <div class="message">
      <div class="services-block row action-container">
        <div class="block col-sm-12 col-md-4">
          <div class="service col-sm-12 text-center">
            <i class="material-icons large">view_module</i>
            <div class="service text-left">
              We are a new and upcoming brand from Edmonton, and we enjoy being a part of this Community!
            </div>
          </div>
        </div>
        <div class="block col-sm-12 col-md-4">
          <div class="service col-sm-12 text-center">
            <i class="material-icons large">shopping_basket</i>
            <div class="service text-left">
              Here is some really long text about how much our company wants your business, and strives to meet all of your needs.
            </div>
          </div>
        </div>
        <div class="block col-sm-12 col-md-4">
          <div class="service col-sm-12 text-center">
            <i class="material-icons large">receipt</i>
            <div class="service text-left">
              We are a new and upcoming brand from Edmonton, and we enjoy being a part of this Community!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="signup container">
  <div class="col-sm-12 col-md-6 offset-md-3">
    <h3>
      <i class="mdi-content-send brown-text"></i>
    </h3>
    <h4 class="text-center">Join Our Beta Launch Program!</h4>
    <p class="light">
      We are entering our beta phase of launch and looking for
      <br /> eager business owners and product vendors to help us grow.
      <br />
      <br /> If You would like to be considered. Please create a Buyer Account and check the "Request Beta Invite" box.
    </p>
    <div class="signup-btn-box text-center">
      <button class="signup-btn btn btn-large col-sm-12" routerLink="/login">
          Sign Up
        </button>
    </div>
  </div>
</div>
<th-footer></th-footer>