<div class="home-page">
   <div class="parallax-container main-banner">
      <div class="section no-pad-bot">
         <div class="header container">
            <h1 class="header center teal-text text-lighten-2">Welcome To Trenderz Hub</h1>
            <div class="row center">
               <h5 class="header col s12 light">Local Goods From Local Shops.</h5>
            </div>
            <div class="sign-up-container row center">
               <h6 class="call-to-action">We are accepting requests for beta Store Owners</h6>
               <a id="signup-button" href ng-click="goTo('pages.signup')" class="btn waves-effect waves-light orange lighten3">Sign Up Today</a>
            </div>

         </div>
      </div>
      <div class="parallax"><img src="http://materializecss.com/templates/parallax-template/background1.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 299px, 0px);"></div>
   </div>

   <div class="container">
      <div class="section">

         <!--   Icon Section   -->
         <div class="row">
            <div class="col s10 offset-s1 no-pad">
               <img class="browse-stores-image col s6" src="http://trenderzhub.ca/media/trenderzhub_img/browse-stores.png" alt="">
               <div class="browse-stores-container col s6 center-align">
                  <h3 class="heading">Browse Stores</h3>
                  <div class="content">
                     Browse Stores
                     <br>Listed on Trenderz Hub
                  </div>
                  <button class="btn purple darken-1" ng-click="goTo('stores.browse')">Sure!</button>
               </div>
            </div>
         </div>

      </div>
   </div>


   <div class="container">
      <div class="section">
         <h3>Featured Products:</h3>
         <!--   Icon Section   -->
         <ul class="feature-container row">
            <!--FEATURED CONTENT CONTAINER-->
            <featured-products></featured-products>
            <!--TESTING UNTIL PRODUCTS CATALOGUE FILLED-->
            <!--<li class="card small col s3 offset-s1 no-pad">-->
            <!--   <div class="card-image waves-effect waves-block waves-light">-->
            <!--      <img class="activator" src="http://materializecss.com/images/office.jpg">-->
            <!--   </div>-->
            <!--   <div class="card-content">-->
            <!--      <div class="card-title activator grey-text text-darken-4 row">-->
            <!--         <div class="price left-align col s10">15.99</div>-->
            <!--         <div class="icon-container col s1 right-align"><i class="material-icons right">more_vert</i></div>-->
            <!--         <div class="title col s12 left-align">Fake Product</div>-->
            <!--      </div>-->
            <!--   </div>-->
            <!--   <div class="card-footer  center-align"><a href="#">View Item</a></div>-->
            <!--   <div class="card-reveal">-->
            <!--      <span class="card-title grey-text text-darken-4">Fake Product<i class="material-icons right">close</i></span>-->
            <!--      <p>Some cool description I will come back later to fill in</p>-->
            <!--      <a href="#">This is a link</a>-->
            <!--   </div>-->
            <!--</li>-->
         </ul>
      </div>
   </div>


   <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
         <div class="container">
            <div class="row center">
               <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
         </div>
      </div>
      <div class="parallax"><img src="http://materializecss.com/templates/parallax-template/background3.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 410px, 0px);"></div>
   </div>

   <div class="container">
      <div class="section">

         <!--   Icon Section   -->
         <div class="row">
            PROMOTIONAL MESSAGE:
         </div>

      </div>
   </div>
</div>



   <div class="container">
      <div class="section">

         <div class="row">
            <div class="col s12 center">
               <h3><i class="mdi-content-send brown-text"></i></h3>
               <h4>Contact Us</h4>
               <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id,
                  viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac,
                  gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
         </div>

      </div>
   </div>
</div>


<!--<div class="hiddendiv common"></div>-->
<!--<div class="drag-target" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>-->
<script type="text/javascript">
   (function($) {
      $(function() {

         // $('.button-collapse').sideNav();
         $('.parallax').parallax();

      }); // end of document ready
   })(jQuery); // end of jQuery name space
</script>