<div class="info-page container">
    <div class="page-title">
        <h1>About Trenderz Hub Online Shopping Mall</h1>
    </div>
    <p>Trenderz Hub is an online shopping mall which brings Edmonton and Area merchants together under one virtual roof providing an easy and convenient shopping experience for a wide consumer base. The online mall allows merchants to save on many costs
        associated with a &ldquo;brick and mortar&rdquo; store. Each merchant will have a virtual store where they can display their goods and interact with customers. Products can range from imported goods to home-based handcrafted creations.</p>
    <p>This is an exciting time in Edmonton Alberta. The number of emerging entrepreneurs in our area inevitably grows as our city grows in numbers. The vibrant business and cultural atmosphere is perfectly suited to the innovative interaction of an online
        shopping mall. It is an inviting venue for merchants who have an existing store, or for the hobbyists who have dreamed of owning a small shop, perhaps with only their own handiwork.</p>
    <p>Our merchants can open a store at minimal cost thereby opening a door for those that always wished they could open their own little shop. Consumers can browse shops, or go to a specific store all the while knowing that they are helping to support
        local. Our merchants are based in Edmonton and the surrounding area, but they could bring products from countries afar.</p>
    <p>With enthusiasm growing for entrpreneurship here in Edmonton, it is our vision is to create a premium website that helps build a community between Edmonton area merchants and their consumers.</p>
    <p>Shoppers can go directly to a store or browse for either common or unique items. They share in two popular trends &ndash; shopping online from home and supporting local entrepreneurial endeavors.</p>
    <p>Trenderz Hub - &ldquo;Supporting Local Merchants for Edmonton and Area.&rdquo;</p>
    <p>&nbsp;</p>

</div>