<th-navigation></th-navigation>
<div class="mall-policy-page container content pad-top">
  <div class="page-title">
    <h1>Mall Information</h1>
  </div>
  <ul class="disc">
    <li><a simplePageScroll (pageScrollFinish)="finsishedScroll($event)" href="#buying-information">Buying Information</a></li>
    <li><a simplePageScroll (pageScrollFinish)="finsishedScroll($event)" href="#selling-information">Selling Information</a></li>
    <li><a simplePageScroll (pageScrollFinish)="finsishedScroll($event)" href="#terms">Terms And Conditions</a></li>
    <li><a simplePageScroll (pageScrollFinish)="finsishedScroll($event)" href="#privacy-policy">Privacy Policy</a></li>
  </ul>
  <dl>
    <a id="buying-information"></a>
    <dt class="buying-information">Buying Information</dt>
    <dd>
      <p><strong>Trenderz Hub:</strong></p>
      <p>Trenderz Hub is here for the Edmonton and Area community to help bring them together in supporting our local merchants.
        If you would like to support our local merchants for the Edmonton area this is an easy way to do so. Shopping online,
        can be done anytime in the comfort of your own home, all the while knowing that you are helping our local economy.</p>
      <p><strong>Becoming a member:</strong>
        <br />You may browse through the items without becoming a member, and you may buy from a merchant without becoming
        a member. You can browse stores anytime, by clicking the &ldquo;Browse Stores&rdquo; button. If you choose to become
        a member by creating an account, you have the advantage of things like auto-fill for your shipping address, and wishlist
        items that are saved for you even when you log-out.</p>
      <p>Becoming a member is easy and free. You simply click on- My Account- located in the top right hand corner of the Home
        Page. Choose "become a member". Fill out name, email, and create password. Do not share your password, and keep it
        secure at all times. Click the "Submit" button at the botom of the page. You will be taken to "Your Dashboard" page
        and from here you can set your default shipping address and even add multiple ones if you like. Shipping information
        must be accurate and current.</p>
      <p><strong>Purchasing procedures:</strong>
        <br />If you would like to make a purchase, you will be routed through Pay Pal. You don't have to be a member of
        PayPal to purchase and item, but it easier if you do, especially if you want to make more than one purchase. On the
        PayPal site, they have all the information on how Pay Pal works if you are unfamiliar with the site. When you are
        routed through PayPal on Trenderz Hub, you will be taken directly to the true PayPal site.</p>
      <p>
        <br />You may put items from several different stores in your &ldquo;shopping cart&rdquo;, but must complete each
        transaction within each store as each merchant is responsible for their own store, and store policies. This includes
        shipping policies. We encourage you to look into each store policy, to see if their policies are ones that suit your
        needs. Please remember to be safe at all times. If you do agree to pick up an item you have purchased, please do
        so in a safe and secure manner.
      </p>
      <p>We hope that you enjoy your shopping experience. Should you have any questions or comments, click "Contact Us" at the
        footer of any page.</p>
      <p>Happy Shopping!!</p>
    </dd>

    <a id="selling-information"></a>
    <dt class="selling-information">Selling Information</dt>
    <dd>
      <p>Trenderz Hub:</p>
      <p>Trenderz Hub is here for the Edmonton and area community to help bring them together in supporting our local merchants.
        If you want to sell, it is an easy way start your new business or add to your current business at afforadable prices.
        Trenderz Hub has four packages for you to choose from. --Bronze package: $15.00 to display up to 5 items at a time.
        --Silver package: $25.00 to display up to 15 items at a time. --Gold package: $35.00 to display up to 35 items at
        a time. --Platinum package: $50.00 to display up to 100 items at a time. These package fees are renewable 12 months
        from the time of purchase. With each package, you can switch out your products to replace with a new product at any
        time, as long as you honor your last sale of the item listed. Trenderz Hub receives a 3% commision on the sale of
        an item. The Pay Pal fee is extra. You can see the Pay Pal fees on their website.</p>
      <p>Basic Needs:</p>
      <p>If you would like to open a store on Trenderz Hub, you need to be at least 18 years of age. You will also need to become
        a member of Trenderz Hub, and set up a PayPal account through PayPal. If you already have a PayPal account, you can
        still use it for this site. The PayPal account is needed for you to open your store, list your items, and it is how
        you will get paid for your sales. In order to set up a PayPal account you must adhear to the rules and regulations
        set out by PayPal. PayPal is a secure site for which to conduct business. Please make sure that you are always dealing
        with the true PayPal site.</p>
      <p>&ldquo;When you receive a PayPal email, always:</p>
      <ul>
        <li>Make sure that it comes from @paypal.com.</li>
        <li>Make sure that the address uses your first and last name or business name.</li>
        <li>Ignore any request for your login or password.</li>
      </ul>
      <p>When in doubt, type www.paypal.com in your browser instead of clicking email links. Please forward suspicious emails
        to spoof@paypal.com&rdquo;</p>
      <p>The above statement is directly from the PayPal site.</p>
      <p>You should be a locally based merchant from Edmonton or surrounding area within aproximately a one hundred mile radius.
        If you are not sure if you are in this area, please email Trenderz Hub to ask if you are considered local for the
        Edmonton area. When you open a store, you will want to have a list of policies in place for your store, such as your
        return policy, shipping ploicies, wheather taxes are included, extra, or not needed (please check G.S.T. Laws, and
        govern yourself accordingly). You will want to decided on this before opening your store, so that you can write these
        policies out for your customers to read. You may update these policies anytime.</p>
      <p><strong>Becoming a member:</strong></p>
      <p>You become a member by clicking on the &ldquo;become a member&rdquo; button. It costs nothing to become a member. This
        button is available for both merchants and consumers, but you need to become a member if you wish to open a store.
        You will create a log-in name, and a password, which is for your own personal use. Do not share your password, and
        keep it secure at all times. You then fill out your personal information which must be accurate and current. We do
        not share your personal information.</p>
      <p><strong>Opening a store:</strong></p>
      <p>After becoming a member and you want to open a store to become a merchant on the website, you now can click the &ldquo;open
        a store&rdquo; button beside the &ldquo;browse stores&rdquo; button. &ldquo;Terms and Conditions&rdquo; pop up and
        you then click &ldquo;I agree&rdquo; if these terms are acceptable to you. If they are not acceptable to you, and
        you click &ldquo;I disagree&rdquo;, you will not be able to open a store. If you have a question that you would like
        answered before deciding if you are comfortable opening a store, please email Trenderz Hub.</p>
      <p>It will cost $25.00 to open your store. You do have a trial period of 90 days, for which to try out your store on this
        site. If you do not wish to keep the store and want to close it within this intial 90 day period, let us know by
        email, and we will refund this cost. Anytime after the 90 day trial period, the fee of $25.00 is not refundable.
        You may not re-open the same store under the same name once you have decided to close. You may, however shut down
        your shop for up to 190 days (about 6 months) if you wanted to take a little time off for any reason such as a vacation,
        sickness or unforseen circumstances. In such a case just email Trenderz Hub to let us know that you would like to
        do this, and we will put up a &ldquo;temporaily closed&rdquo; sign up for you. After 190 days time, if we have not
        heard from you, we will close the shop permanently.</p>
      <p><strong>How to list your items:</strong></p>
      <p>Once you have become a member, and opened your store, you may now list your items. You click the &ldquo;list item&rdquo;
        button, and you then upload the pictures of your item(s) along with your description and price. Pictures can be uploaded
        with almost any camera that you would normally use, such as a smartphone or digital camera. Image size specifications
        would come up if it isn't compatable with our site. You may upload as many as 4 pictures of each item to show different
        angles or colours of the item. Once you feel that it is acceptable to display to potential customers fill in the
        description and review the description to ensure you are satisfied with the way that the product is represented to
        the public. Fill in the price that you wish to sell the item for. You may list as many products as you like. When
        you are finished listing, you pay for the listing fees through PayPal, and your products are now on display, and
        can be seen by the general public.
      </p>
      <p>The listing fee is 2% per item listed to display your products. For example: If you would like to sell your product
        for $10.00 the listing fee will cost you 20 cents. The listing fee of 2% per item listed are not refundable once
        you pay them unless there are special circumstances that Trenderz Hub agrees to (such as: you listed your item for
        $795.00 when the item was supposed to be listed for $7.95). In this instance, you would need to email Trenderz Hub
        to request a refund of the 2% listing fee. Both the opening of your store, and the listing of your items are transactions
        between you and Trenderz Hub. You can add or change your listing items at anytime. We do not accept any item listed
        for under $5.00. If you have items that you would like to sell for under the $5.00, we suggest that you sell them
        in a bundle so as to reach the $5.00 minimum.</p>
      <p>When deciding on a price to sell your item(s) we know that you will want to make money in your business, so it is wise
        to cover all your costs and still make a profit without pricing so high that you discourage sales. It is a good idea
        to always keep this in mind when setting your listing price.</p>
      <p><strong>Selling your items;</strong></p>
      <p>As an entrepreneur, you will want to create, and continue your service in a responsible manner befitting of any professional
        store. This is your own shop, and it is in your best interest to treat your customers in a professional manner. If
        we at Trenderz Hub feel that your business is not conducted in a manner befitting to the standards of Trenderz Hub,
        we reserve the right to close the store. This includes if it violates any laws or conditions set out in &ldquo;Terms
        and Conditions&rdquo;, or for any other reason at our discretion. If Trenderz Hub decides to close your store, the
        intital fee of $25.00 will not be refunded. We do however, want you to succeed, because your success is our success.</p>
      <p>When a customer purchases an item from your store, they will go through the check-out process, and purchase the item
        through PayPal. Trenderz Hub takes a 3% commission on this sale at this time when the customer buys the item. PayPal
        will also take their commission at this time as well. You will be alerted to the sale, and then it is up to you to
        fill your end of the agreement regarding the purchase as stated in your store policies. Whether you ship, meet up,
        or have pick-up only, congratulations on your sale! We hope that all parties are happy. However, in the event that
        the item is needed to be returned to you and you need to refund the customer, Trenderz Hub will return the commission
        (3%) that we took from the sale of the item. If it looks like there are too many refunds for your store, Trenderz
        Hub will investigate, and if we feel that your store is not up to what we regard as professional standards, we will
        close the store.</p>
      <p>If you are selling edible items, you must do so in accordance with Alberta Law, and must provide proof that you are
        liscensed to do so. There is a box for you to check off when you are opening a store, to let us know that you would
        like to sell edible items. This will take you to a section for you to provide the proof that you need to sell these
        items. You may want to have the items for pickup only or if you do wish to deliver, you must do so in accordance
        with Alberta law governing transportation of such items. You will not sell edible items for the purpose of consumption
        unless you are authorized by the Alberta Government. These items must be stored in a manner that is acceptable to
        the standards set out by the Alberta Government.</p>
      <p>Trenderz Hub will be promoting in the Edmonton area to help ensure traffic to our website, we can also offer business
        cards to you with the Trenderz Hub website information on one side of the business card which includes a QR code,
        and on the other side, you can have your store name to direct traffic to your store specifically. Please email us
        for information if you would like to order some Trenderz Hub business cards.</p>
      <p>&nbsp;</p>
    </dd>
    <a id="terms"></a>
    <dt class="terms">Terms And Conditions</dt>
    <dd>
      <p>TERMS AND CONDITIONS</p>
      <p>Trenderz Hub Terms and Conditions ("Agreement").</p>
      <p>Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using trenderzhub.ca
        ("the Site") operated by Trenderz Hub Inc. ("us", "we", or "our"). This Agreement sets forth the legally binding
        terms and conditions for your use of the Site at trenderzhub.ca. By accessing or using the Site in any manner, including,
        but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree
        to be bound by these Terms and Conditions. Capitalized terms are defined in this Agreement.</p>
      <p>Intellectual Property: The Site and its original content, features and functionality are owned by Trenderz Hub Inc.
        and are protected by international copyright, trademark, patent, trade secret and other intellectual property or
        proprietary rights laws.</p>
      <p>Termination: We may terminate your access to the Site, without cause or notice, which may result in the forfeiture
        and destruction of all information associated with you. All provisions of this Agreement that by their nature should
        survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers,
        indemnity, and limitations of liability. Trenderz Hub also reserves the right to refuse service to anyone, for any
        reason, at any time. Death of a Member: A third party may shut down the account of a member upon death of that member,
        providing proof of death in the form of &ldquo;Certificate of Death&rdquo; which is scanned and emailed to Trenderz
        Hub.</p>
      <p>Links To Other Sites: Our Site may contain links to third-party sites that are not owned or controlled by Trenderz
        Hub Inc. Trenderz Hub Inc. has no control over, and assumes no responsibility for, the content, privacy policies,
        or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy
        policy of any third-party site that you visit.</p>
      <p>Limited License: Trenderz Hub Inc. grants you a non-exclusive, non-transferable, limited license to use the Site in
        accordance with this Agreement. Limitation Of Liability: In no event shall Trenderz Hub Inc., nor its directors,
        employees, partners, agents, suppliers, or affiliates, be liable for damages, direct or consequential, resulting
        from your use of the Site, and you agree to defend, indemnify and hold us harmless from any claims, losses, liability
        costs and expenses, including but not limited to attorney's fees, arrising from your violation of any third-party's
        rights.</p>
      <p>Warranty Disclaimer: Your use of the Site is at your sole risk. The Site is provided on an "as is" and "as available"
        basis. The Site is provided without warranties of any kind, whether express or implied, including, but not limited
        to, implied warranties of&nbsp;erchantability, fitness for a particular purpose, non-infringement or course of performance.</p>
      <p>Trenderz Hub Inc., its subsidiaries, affiliates, and its licensors do not warrant that a) the Site will function uninterrupted,
        secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Site is
        free of viruses or other harmful components; or d) the results of using the Site will meet your requirements.</p>
      <p>Governing Law: This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed
        and construed in accordance with the laws of Alberta, Canada, without giving effect to any principles of conflicts
        of law. You agree to comply with all local laws regarding online conduct and acceptable content. Merchants are responsible
        for all applicable taxes.</p>
      <p>Changes To This Agreement: We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions
        by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your
        acceptance of the new Terms and Conditions. Please review this Agreement periodically for changes. If you do not
        agree to any of this Agreement or</p>
      <p>any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site
        immediately.</p>
      <p>Membership Eligibility: Trenderz Hub Inc. services are available only to, and may only be used by, individuals who
        are 18 years and older who can form legally binding contracts under applicable law. You represent and warrant that
        you are at least 18 years old and that all registration information you submit is accurate and truthful.</p>
      <p>Account and Password information: You agree to keep your account information up-to-date and accurate at all times,
        including a valid email address and a valid Pay Pal account. You agree not to provide your user ID and password combination
        to any other party other than Trenderz hub.</p>
      <p>Fees: Merchants who open a store are charged a fee to open a store, a percentage is charged as a listing fee, and a
        percentage is charged once the item is sold. You will not be charged the listing fee until you agree to the amount
        that you entered for the item. The commission fee will be atken off automatically at the point of sale. These fees
        are quoted in Canadian dollars (CAD). Trenderz Hub does not guarantee sales for your store. All items listed must
        be for sale. Each store is responsible for it's own shop policy, and agrees to comply with said policy. Privacy:
        Trenderz Hub will not sell or disclose your personal information without your express written consent as outlined
        in our Privacy Policy.</p>
      <p>Contact Us. If you have any questions about this Agreement, please contact us at</p>
      <p>trenderz@trenderzhub.ca .</p>
      <p>This Agreement was last modified on January 12, 2014.</p>
      <p>&nbsp;</p>
    </dd>
    <a id="privacy-policy"></a>
    <dt class="privacy-policy"><strong>Privacy Policy</strong></dt>
    <dd>
      <p>Trenderz Hub Inc. ("us", "we", or "our") operates trenderzhub.ca (the "Site"). This page informs you of our policies
        regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
      <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection
        and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used
        in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at trenderzhub.ca.</p>
      <p>Information Collection And Use: While using our Site, we may ask you to provide us with certain personally identifiable
        information that can be used to contact or identify you. Personally identifiable information may include, but is
        not limited to, your name, email address, postal address and phone number ("Personal Information").</p>
      <p>Log Data: Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log
        Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type,
        browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages
        and other statistics.</p>
      <p>Cookies: Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are
        sent to your browser from a web site and stored on your computer's hard drive. Like many sites, we use "cookies"
        to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being
        sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>
      <p>Security: The security of your Personal Information is important to us, but remember that no method of transmission
        over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable
        means to protect your Personal Information, we cannot guarantee its absolute security.</p>
      <p>Links To Other Sites: Our Site may contain links to other sites that are not operated by us. If you click on a third
        party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy
        of every site you visit. Trenderz Hub Inc. has no control over, and assumes no responsibility for, the content, privacy
        policies, or practices of any third party sites or services.</p>
      <p>Changes To This Privacy Policy: Trenderz Hub Inc. may update this Privacy Policy from time to time. We will notify
        you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically
        for any changes.</p>
      <p>This Privacy Policy was last modified on January 12, 2014.</p>
      <p>Contact Us: If you have any questions about this Privacy Policy, please contact us.</p>
      <p>&nbsp;</p>
    </dd>
  </dl>
</div>
<th-footer></th-footer>
