.th-green {
    background-color: #1E613A!important;
}

.th-purple {
    background-color: rgba(73,0,90, 1);
}
.th-green-text {
    color: #73A14E;
}

.th-alt-green-text {
    color: #1E613A!important;
}

.th-purple-text {
    color: rgba(73,0,90, 1);
}

.purple {
    background-color: #9c27b0 !important;
}

.white-text {
    color: white;
  }

.brown-text {
    color: #bcaaa4 !important;
}

.no-pad {
    padding: 0!important;
}

.hidden {
    display: none;
    visibility: hidden;
}

.row-divider {
    margin-top: 20px;
    margin-bottom: 50px;
}

.material-icons {
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    line-height: 1;
    letter-spacing: normal;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.meassage .inset-text {
    margin: 10px;
}

.shadow:after, .shadow:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}
.shadow:before {
    left: 10px;
    right: auto;
    transform: rotate(-3deg);
}

.inset-shadow, .page-footer {
    -webkit-box-shadow: inset 1px 10px 14px -6px rgba(0,0,0,0.24);
    -moz-box-shadow: inset 1px 10px 14px -6px rgba(0,0,0,0.24);
    box-shadow: inset 1px 10px 14px -6px rgba(0,0,0,0.24);
}

.shadow:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.inset-text-effect {
  box-sizing: content-box;
  z-index: auto;
  border: 0 solid black;
  border-radius: 0;
  color: #303030;
  text-decoration: none;
  text-transform: normal;
  text-indent: 0;
  text-overflow: clip;
  letter-spacing: normal;
  white-space: pre;
  word-spacing: normal;
  word-wrap: break-word;
  background: none;
  box-shadow: none;
  text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px #49005a;
  transition: none;
  -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
  transform: scaleX(1) scaleY(1) scaleZ(1);
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0; }


.site-links {
  margin-top: 20px;
  margin-bottom: -20px;
  font-size: 12px;
}

.top-links ul li,
.important-links ul li {
  margin-right: 10px;
  border-right: 1px solid #cacaca;
  ;
  padding-right: 10px;
}

.top-links ul li:last-child,
.important-links ul li:last-child {
  border-right: none;
  padding-right: 0;
}

.site-links ul {
    margin-bottom: 5px;
}

.top-links {
    margin-top: 20px;
}

/*.important-links {*/
/*  margin-bottom: 10px;*/
/*}*/


.site-links ul a {
  color: #949494;
  /*text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.9);*/
}

.brand-logo {
    position: absolute;
    top: 0;
    z-index: 1;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}

.logo-text {
    position: absolute;
    left: 120px;
    top: 66px;
}

.site-logo {
  margin-bottom: -90px;
}

nav {
  margin-top: 50px;
}

.navbar {
  background-color: #49005a;
  padding: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  min-height: 65px;
}

.navbar-brand {
  visibility: hidden;
}
.nav-item {
  margin-right: 7vw;
}

.nav-link {
  color: white !important;
}

.search-box {
    padding: 0;
    margin-top: 20px;
}

.carousel-inner {
    background-color: #cacaca;
}

.carousel-item > img {
  width: 100%;
  min-height: 400px;
  max-height: 450px;
}

.action-container {
  background-color: white;
  margin: 50px 2px 50px 2px;
  padding: 50px 20px;
  box-shadow: 1px 1px 5px rgba(90, 69, 69, 0.28);
}

.signup {
  margin-top: 100px;
  margin-bottom: 150px;
}

.page-footer {
    margin-top: 20px;
    padding-top: 20px;
}

.footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: white;
    color: rgba(255, 255, 255, 0.8);
    background-color: #205d39;
    background-color: rgba(32, 93, 57, 1);
}

/* 
    Home Page Styles 
*/
.header.center {
    color: #9BC056!important;
    text-shadow: 1px 1px black;
    margin-top: 5%;
}

.header.container {
    max-width: 700px;
}

.main-banner .header, .sign-up-container {
    color: seashell;
    text-shadow: 1px 1px black;
}

.unique-message {
    margin-top: 100px;
    margin-bottom: 100px;
}

.unique-message .title {
    top: 12px;
    left: 40%;
    color: seashell;
    font-family: cursive;
    font-size: 2.92rem;
}

.signup {
    margin-top: 100px;
    margin-bottom: 150px;
}

.signup .signup-btn-box {
    margin-top: 30px;
}

.signup p {
    margin-top: 40px;
}

.call-to-action {
    margin-bottom: 20px;
}

.action-box {
    margin-top: 50px;
    margin-bottom: 40px;
}

.action-box .content-wrapper {
    box-shadow: 1px 1px 5px rgba(90, 69, 69, 0.28);
}

.action-box .image img {
    margin-top: 20px;
    max-width: 200px;
}

.action-box .meassage {
    padding: 20px;
    text-align: center;
}

.action-box .message .heading {
    font-size: 26px;
}

// .browse-stores-container {
//     margin-top: 50px;
// }

// .browse-stores-container .content {
//     margin-bottom: 20px;
// }

// img.browse-stores-image {
//     max-width: 60%;
//     margin: 0 auto;
// }

// .card.small {
//     height: 100%;
// }
// .card .card-content {
//     padding: 0 20px 0 20px;
// }
// .card .card-title {
//     font-size: 18px;
// }

// .card .price {
//     font-size: 14px;
// }

// .card .icon-container {
//     margin-top: 12px;
// }

// .card .card-content p {
//     position: absolute;
// }

.card-footer {
    /*background-color: blue;*/
    /*margin-top: 0px;*/
    height: 36px;
}