<div class="stores-category content container">
    <div class="header">
        <img class="category-image" ng-src="{{ category.image }}" />
        <h3 class="category-title center-align">{{ category.name }}</h3>
        <p class="category-description container">{{ category.description }}</p>
    </div>
    <hr class="row-divider col-s12">
    <ul class="category-products row">
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
        <li class="category product col s10 offset-s1 m3 offset-m1" ng-repeat="product in category.products">
            <div class="product-wrapper card">
                <div class="image-container"><img src="/images/trenderzhub/Trenderz-Hub-Logo.svg" alt=""></div>
                <div class="product-info container">
                    <h5 class="category-product-name">{{ product.name }}</h5>
                    <div class="category-product-price">${{ product.price }}</div>
                    <div class="category-product-qty">Remaining: {{ product.qty }}</div>
                    <button class="category-product-view-btn btn" ng-click="goTo('products.detail', product)">View Item</button>
                </div>
            </div>
        </li>
    </ul>
</div>