
<footer class="page-footer th-green">
   <div class="container">
      <div class="row">
         <div class="col l6 s12">
            <h5 class="white-text">Company Info</h5>
            <p class="grey-text text-lighten-4">We believe our community is the strongest bond we share. 
                                                Trenderz Hub features products from people who are local.
                                                Our goal is to support local by encouraging a market of 
                                                likeminded friends helping friends.</p>
         </div>
         <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li ng-repeat="link in links"><a class="white-text" href ng-click="goTo( link.sref )"> {{ link.title }}</a></li>
            </ul>
         </div>
         <div class="col l3 s12">
            <h5 class="white-text">Social</h5>
            <ul>
               <li ng-repeat="link in social"><a class="white-text" ng-click="linkTo(link.href)">{{ link.title }}</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="row">
         <div class="tn-copyright left-align col s6">Developed by <a class="brown-text text-lighten-3" href="http://tech-ninja.ca">Tech Ninja</a></div>
         <div class="th-copyright right-align col s6">Copyright <a class="brown-text text-lighten-3" href="http://trenderzhub.ca">Trenderz Hub®</a></div>
      </div>
   </div>
</footer>
