
<footer class="page-footer th-green">
   <div class="container">
      <div class="row">
         <div class="col l6 s12">
            <h5 class="white-text">Company Info</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
         </div>
         <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li ng-repeat="link in links"><a class="white-text" href ng-click="goTo( link.sref )"> {{ link.title }}</a></li>
            </ul>
         </div>
         <div class="col l3 s12">
            <h5 class="white-text">Social</h5>
            <ul>
               <li><a class="white-text" href="#!">Link 1</a></li>
               <li><a class="white-text" href="#!">Link 2</a></li>
               <li><a class="white-text" href="#!">Link 3</a></li>
               <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="row">
         <div class="tn-copyright left-align col s6">Developed by <a class="brown-text text-lighten-3" href="http://tech-ninja.ca">Tech Ninja</a></div>
         <div class="th-copyright right-align col s6">Copyright <a class="brown-text text-lighten-3" href="http://trenderzhub.ca">Trenderz Hub®</a></div>
      </div>
   </div>
</footer>
