/* 
    Primary Hard Styles 
*/
body, html {
    width: 100%;
    height: 100%;
}
#toast-container > div {
    opacity: 1;
}

/* ANGULAR ANIMATIONS*/
.animation.ng-enter {
  /*transition:0.4s linear all;*/
  animation: fadeIn 0.4s ease;
  opacity: 0;
  display: none;
}
.animation.ng-enter.ng-enter-active {
  opacity: 1;
  display: block;
}
.animation.ng-leave {
  /*transition:0s linear all;*/
  /*animation: fadeOut 0.6s; */
  opacity:1;
}
.ng-leave.ng-leave-active {
  opacity:0;
}

div[ui-view="navigation"] li:last-child {
    margin-right: 20px;
}
/* 
    Helper Styles 
*/

nav.primary-nav {
    background-color: rgba(73,0,90, 1);
}

nav.account-nav, nav.admin-nav {
    background-color: rgba(73,0,90, 1);
}
.subtle-pattern {
    background-image: url("/images/trenderzhub/bg.png")
}
.th-green {
    background-color: #1E613A!important;
}

.th-purple {
    background-color: purple;
}
.th-green-text {
    color: #73A14E;
}

.th-purple-text {
    color: purple;
}

.no-pad {
    padding: 0!important;
}

.hidden {
    display: none;
    visibility: hidden;
}
.shadow:after, .shadow:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}
.shadow:before {
    left: auto;
    transform: rotate(-3deg);
}

.inset-shadow, .page-footer {
    -webkit-box-shadow: inset 1px 10px 14px -6px rgba(0,0,0,0.64);
    -moz-box-shadow: inset 1px 10px 14px -6px rgba(0,0,0,0.64);
    box-shadow: inset 1px 10px 14px -6px rgba(0,0,0,0.64);
}
.shadow:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.row-divider {
    margin-top: 20px;
    margin-bottom: 50px;
}

.inline-list li {
    display: inline;
}

.horizontal-list li {
    display: inherit;
}
.parallax-container {
    /*opacity: 0.8;*/
    height: 440px;
}

.vertical-divider .vertical-center {
    margin-top: 100%;
}

li.vertical-divider {
    padding-left: 10px;
    padding-right: 20px;
}
li.vertical-divider:before {
    /*content: "";*/
    /*height: 100%;*/
    /*color: white;*/
    /*position: absolute;*/
    /*border: 2px solid white;*/
    /*top: 0;*/
}



/* 
    Home Page Styles 
*/
.header.center {
    color: #9BC056!important;
    text-shadow: 1px 1px black;
    margin-top: 5%;
}

.home-page .header.container {
    max-width: 700px;
}

.main-banner .header, .sign-up-container {
    color: seashell;
    text-shadow: 1px 1px black;
}

.brand-logo img {
    height: 80px;
}

.brand-logo .logo-text {
    position: absolute;
    font-size: 20px;
    left: 52px;
    top: 12px;
}
.sign-up-container {
    margin-top: 40px;
}

.call-to-action {
    margin-bottom: 20px;
}

.action-box {
    margin-top: 50px;
    margin-bottom: 40px;
}

.action-box .content-wrapper {
    box-shadow: 1px 1px 5px rgba(90, 69, 69, 0.28);
}

.action-box .image img {
    margin-top: 20px;
    max-width: 200px;
}

.action-box .meassage {
    padding: 20px;
    text-align: center;
}

.action-box .message .heading {
    font-size: 26px;
}

.browse-stores-container {
    margin-top: 50px;
}

.browse-stores-container .content {
    margin-bottom: 20px;
}

img.browse-stores-image {
    max-width: 60%;
    margin: 0 auto;
}

.card.small {
    height: 100%;
}
.card .card-content {
    padding: 0 20px 0 20px;
}
.card .card-title {
    font-size: 18px;
}

.card .price {
    font-size: 14px;
}

.card .icon-container {
    margin-top: 12px;
}

.card .card-content p {
    position: absolute;
}

.card-footer {
    /*background-color: blue;*/
    /*margin-top: 0px;*/
    height: 36px;
}

/*
    Browse Stores
*/
.slide-deck-container.col {
    padding-left: 32px;
    padding-right: 32px;
}
.slide-deck .product li:last-child { /* add to cart btn */
    margin-left: 33%;
}

/*
    Store Page
*/
.category-image {
    position: fixed;
    width: 100%;
    min-width: 380px;
    height: 100%;
    min-height: 300px;
    opacity: 0.1;
    z-index: -1;
    top: -20%;
    left: 0;
}

.product-wrapper {
    text-align: center;
    margin-bottom: 40px;
}

.product-wrapper .image-container img {
    width: 100%;
}

.product-wrapper .product-info {
    padding-bottom: 30px;
}

button.category-product-view-btn {
    margin-top: 20px;
}

div[ui-view="body"] {
    min-height: 300px;
    margin-bottom: -20px;
}

.category-description.container {
    margin: 0;
}

.sign-in-btn, .membership-btn {
    margin-top: 30px;
}

.slide-deck-slide .card-content > button {
    margin-bottom: 40px;
}

.slide-deck-slide {
    min-height: 300px;
    width: 100%;
}
/*
    Product Detail
*/
.content-wrapper {
    padding: 30px;
}
.primary img {
    max-width: 100%;
    max-height: 300px;
}

.product-detail .image-container {
    margin-top: 30px;
}

.product-detail .image-container img {
    max-height: 180px;
}

.see-more-btn {
    font-size: 12px;
    position: fixed;
    z-index: 2;
    left: 1%;
    top: 88px;
}

.newsletter-offer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: teal;
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/congruent_pentagon.png");
    background-size: contain;
    background-origin: content-box;
}



.featured-parallax {
    height: 100%;
}

.featured-content h3 {
    color: white;
    text-shadow: 1px 3px #375055;
}
/*
    Sign Up Page
*/
.signup .accounts {
    margin-bottom: 80px;
}

/* 
    Shopping Cart
*/
.shopping-cart-container {
    position: fixed;
    margin-top: 80px;
    right: 30px;
}

.shopping-cart {
    z-index: 1;
    padding: 7px 10px 4px 0px;
    text-align: center;
    color: #aaa;
    border: 1px solid #aaa;
}

button.view-cart-btn {
    position: fixed;
    top: 10px;
    right: 150px;
    margin-top: 82px;
}

/*
    Shopping Cart Page
*/
.shopping-cart-page .material-icons.circle {
    margin-top: 33px;
}

.shopping-cart-page .shopping-cart-container .cart {
    min-height: 120px;
}

.shopping-cart-page .icon-container img {
    max-width: 100%;
    max-height: 100%;
}

.shopping-cart-page .qty-text {
    margin-top: 6px;
}

.shopping-cart-page .total-container {
    margin-top: 40px;
}

.shopping-cart-page .total-item {
    background-color: #F5F5F5;
}

.shopping-cart-page .total-item .secondary-content {
    margin-right: 10px;
}

.shopping-cart-page .clear-cart {
    margin-bottom: 100px;
    margin-top: 20px;
}