/* 
    Primary Hard Styles 
*/
body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#toast-container > div {
    opacity: 1;
}

/* ANGULAR ANIMATIONS*/
.animation.ng-enter {
  /*transition:0.4s linear all;*/
  animation: fadeIn 0.4s ease;
  opacity: 0;
  display: none;
}
.animation.ng-enter.ng-enter-active {
  opacity: 1;
  display: block;
}
.animation.ng-leave {
  /*transition:0s linear all;*/
  /*animation: fadeOut 0.6s; */
  opacity:1;
}
.ng-leave.ng-leave-active {
  opacity:0;
}

div[ui-view="body"] {
    margin-top: 68px; /* Same as nav height */
}
/* 
    Helper Styles 
*/
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.valign-wrapper .valign {
  display: block;
}

.align-this {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-item {
    display: flex;
    max-width: 50%;
}

.align-item-top {
  align-self: flex-start;
}

.align-item-bottom {
  align-self: flex-end;
}

.align-stretch {
    align-items: stretch;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-float {
    float: none;
}

.no-pad {
    padding: 0;
}

.xs-pad {
    padding: 5px;
}
.sm-pad {
    padding: 10px;
}

.md-pad {
    padding: 25px;
}

.lg-pad {
    padding: 50px;
}

.xl-pad {
    padding: 100;
}



.xs-pad-sides {
    padding-left: 5px;
    padding-right: 5px;
}
.sm-pad-sides {
    padding-left: 10px;
    padding-right: 10px;
}

.md-pad-sides {
    padding-left: 25px;
    padding-right: 25px;
}

.lg-pad-sides {
    padding-left: 50px;
    padding-right: 50px;
}

.xl-pad-sides {
    padding-left: 100;
    padding-right: 100;
}


.subtle-pattern {
    background-image: url("/images/trenderzhub/bg.png")
}
.th-green {
    background-color: #1E613A!important;
}

.th-purple {
    background-color: purple;
}
.th-green-text {
    color: #73A14E;
}

.th-purple-text {
    color: purple;
}

.no-pad {
    padding: 0!important;
}

.hidden {
    display: none;
    visibility: hidden;
}
.shadow:after, .shadow:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}
.shadow:before {
    left: auto;
    transform: rotate(-3deg);
}

.inset-shadow, .page-footer {
    -webkit-box-shadow: inset 1px 10px 14px -6px rgba(0,0,0,0.64);
    -moz-box-shadow: inset 1px 10px 14px -6px rgba(0,0,0,0.64);
    box-shadow: inset 1px 10px 14px -6px rgba(0,0,0,0.64);
}
.shadow:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.row-divider {
    margin-top: 20px;
    margin-bottom: 50px;
}

.inline-list li {
    display: inline;
}

.horizontal-list li {
    display: inherit;
}

.inset-text-effect {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: auto;
    border: 0 solid rgba(0,0,0,1);
    -webkit-border-radius: 0;
    border-radius: 0;
    color: rgba(48,48,48,1);
    text-decoration: none;
    text-transform: normal;
    text-indent: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: normal;
    white-space: pre;
    word-spacing: normal;
    word-wrap: break-word;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgb(73, 0, 90);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
    transform: scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4, .modal {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.card .card-title.activator {
  cursor: pointer;
}

.card.small, .card.medium, .card.large {
  position: relative;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 60%;
  overflow: hidden;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 40%;
  overflow: hidden;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: inherit;
}

.card.small {
  height: 300px;
}

.card.medium {
  height: 400px;
}

.card.large {
  height: 500px;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  line-height: 48px;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.card .card-reveal {
  padding: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}

/*
    Navbar Styles
*/
div[ui-view="navigation"] li:last-child {
    margin-right: 20px;
}
.primary-nav {
    background-color: rgba(73,0,90, 1);
    border-color: #26683D;
}

nav.account-nav, nav.admin-nav {
    background-color: rgba(73,0,90, 1);
}

nav.primary-nav {
    background-color: rgba(73,0,90, 1);
    top: 0;
    left: 0;
    height: 68px;
    font-size: 16px;
}

nav.primary-nav .nav-wrapper {
    height: 0;
}

nav.primary-nav .nav-link {
    height: 64px;
}

nav.primary-nav .nav-link a, 
nav.primary-nav .nav-link a:visited,
nav.primary-nav .nav-link a:hover,
nav.primary-nav .nav-link a:focus,
nav.primary-nav .nav-link a:active
{
    color: seashell;
    margin-top: 10px;
}
nav.account-nav, nav.admin-nav {
    background-color: rgba(73,0,90, 1);
}


span.logo-text {
    position: absolute;
    top: 48px;
    left: 66px;
}

.brand-logo .logo-text {
    position: absolute;
    font-size: 20px;
    left: 52px;
    top: 29px;
}

.brand-logo img {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
}

/* 
    
*/



/*
    Homepage Styles
*/
.tile-image {
    width: 200px;
}

.tile-content {
    padding: 0 25px;
}







.slider.slides li.caption {
    color: #FDF4F7;
}

.slider {
    max-height: 400 px;
}
.slider.indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 6% ;
    margin: 0;
    z-index: 2;
}




















/*
    Category Pages
*/
.category-image {
    position: fixed;
    width: 100%;
    min-width: 380px;
    height: 100%;
    min-height: 300px;
    opacity: 0.1;
    z-index: -1;
    top: -20%;
    left: 0;
}



/*
    Shopping Cart
*/
.shopping-cart-container {
    position: fixed;
    top: 20%;
}


/*
    Featured Products
*/
